@{
    ViewData["Title"] = "Home Page";
}



<body>
    <div class="text-center">

        <h1>
            Welcome to our clinic!
        </h1>

        <style>
            body {
                color: black;
                font-weight: 600;
            }
        </style>
        <img src="https://image.flaticon.com/icons/png/128/839/839015.png" width="300" height="300" align="middle" />
    </div>
  
    <style>
        body {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0Daw1fxKaawq-wKrfz3eAE9bzU6pUH7741g&usqp=CAU");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</body>



